<% layout("layouts/boilerplate.ejs") %>
<style>
  #filters{
    display: flex;
    flex-wrap: wrap;
  }
  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
</style>
<body class="">

  <div class="container my-4">
    <!-- <h2 class="mb-4">All Listings</h2> -->
     <div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>

      </div>

     </div>

    <div class="row row-cols-1 row-cols-md-3 mt-3 g-4">
      <% for(let listing of allListings){ %>
        <div class="col">
          <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
            <div class="card shadow-sm border-0 listing-card h-100">
              
              <!-- Listing Image -->
              <img 
                src="<%= listing.image.url %>" 
                class="card-img-top" 
                alt="listing-image" 
                style="height: 14rem; object-fit: cover;"
              >

              <!-- Card Body -->
              <div class="card-body">
                <h5 class="card-title mb-1"><%= listing.title %></h5>
                <p class="card-text text-muted mb-2">
                  &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> / night
                </p>
              </div>
            </div>
          </a>
        </div>
      <% } %>
    </div>
  </div>
</body>
