<% layout("layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
    <h2>Create New Listings</h2>
<form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-lable">Title</label>
        <input name="listing[title]" placeholder="Entre Catchy Word" type="text" class="form-control" required>
        <div class="valid-feedback">Title Looks Good</div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-lable">Description</label>
        <textarea name="listing[description]" placeholder="Entre description" class="form-control" required></textarea>
        <div class="invalid-feedback">Please Entre Short Description</div>
    </div>
    <div class="mb-3"> 
        <label for="image" class="form-lable">Upload Image</label>
        <input name="listing[image]" placeholder="entre image URL/LINK" type="file" class="form-control">
        <div class="invalid-feedback">Please Entre a valid image</div>
    </div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input name="listing[price]" placeholder="1200" type="number" class="form-control" required>
        <div class="invalid-feedback">Please Entre a valid price</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
        <div class="invalid-feedback">Country name should be valid</div>
        </div>
    </div>

    <div class="mb-3">
        <label for="location" class="form-lable">Location</label>
        <input name="listing[location]" placeholder="Chh Sambhaji Nagar, Jalna" type="text" class="form-control" required>
        <div class="invalid-feedback">Location should be valid</div>

    </div>
    <button class="btn btn-dark add-btn
    ">Add</button>
    <br><br>
</form>
</div>
</div>

